<template>
   <div id="app">
        <div class="back"><router-link to="/"> Kembali Ke Home</router-link></div>
        <h1>Detail Film</h1>
        <GetFilmsDetail ></GetFilmsDetail>
  </div>
</template>

<script>
  import axios from 'axios'
  import GetFilmsDetail from '../components/GetFilmsDetail'
  export default {
    name: 'DetailFilms',
    components: {    
        GetFilmsDetail
    },
    data: function () {
        return {
            films:[] 
        }
    },
  }
</script>
<style>
    .back{
        text-decoration: none!important;
    }
</style>